body {
    background-image: url("../images/newww.jpg");
    background-size: cover;
    padding: 0;
    margin: 0;
  }

.form input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
    left:0;
}

.add-photo-btn{

    cursor:pointer;
    background-color:#83b81a;
    color:#fff;
    width:197px;
    height:31px;
    font-size:18px;
    line-height:30px;

}
